---
---

@import "reset";
@import "variables";
@import "scrollbar";
// Syntax highlighting @import is at the bottom of this file

body {
  background: #fbfbfb url("{{ site.baseurl }}/images/tiling-hatching_light.png");
  font: 16px/1.45 $roboto;
  color: $darkGray;
}

#{$a-tags} {
  color: $blue;
  text-decoration: none;
}

*:after {
	font: normal normal normal 14px/1 FontAwesome;
}

.main-container {
	padding: 20px;
	float: left;
}

.search {
  margin-bottom: 30px;
  
  a {
    color: #777;
    cursor: pointer;
  }
}

item-name {
	display: block;
	/* margin-top: 0px; */
	font-size: 30px;
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
	color: $bluakDark;
	max-width: 80%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: left;
}

magic-spell {
	font-weight: 600;
	font-style: italic;
	text-transform: capitalize;
	cursor: pointer;
}

magic-item {
  position: relative;
	display: block;
	padding: 20px 15px;
	text-align: justify;
	margin-bottom: 15px;
	background-color: white;
	border: 1px solid $borderLight;
	border-bottom: 2px solid $bluakMedium;
	border-top: 2px solid $bluakMedium;
	background-color: white;
	overflow-y: hidden;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
	transition: max-height 0.5s;

	item-description {
		display: block;
		line-height: 1.5em;
	}
}
item-tags{
	color: $mediumGray;
	
	item-rarity {
		position: absolute;
		top: 20px;
		right: 15px;
	}

	item-attunement {
		position: relative;
		top: -12px;
	}
}

#navigator {
	position: fixed;
	display: block;
	bottom: 13px;
	right: 0;
	min-width: 40px;
	padding: 10px;
	text-align: center;
	background-color: #ffffff;
	z-index: 100;
	border: 1px solid $borderLight;
	border-right-color: transparent;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
.read-more {
	font-size: 1.5em;
}

.navbar-fixed-side {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  
  @include desktop {
    background: white;
    border-right: 2px solid $bluakMedium;
  }
  @include mobile {
    background: white;
    border: 0;
    border-bottom: 2px solid $bluakMedium;
  }
}
// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
