/*
	dark bluack: 40434e
	medium bluack: 5c5f6d

	light border: e6e6e6
	background: f8f8f8
*/

/*html {
	overflow-x: hidden;
}*/
body {
	background-color: #f8f8f8;
}

*:after {
	font: normal normal normal 14px/1 FontAwesome;
}

.main-container {
	padding: 20px;
	float: left;
}

.search a {
	color: #777;
	cursor: pointer;
}

.form-group:nth-child(n+2) {
	position: relative;
	/*border-top: 3px solid #eee;*/
}

item-name {
	display: block;
	/* margin-top: 0px; */
	margin-bottom: 10px;
	font-size: 30px;
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
	color: #40434e;
	max-width: 80%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: left;
}

magic-spell {
	font-weight: 600;
	font-style: italic;
	text-transform: capitalize;
	cursor: pointer;
}

magic-item {
	/* position: relative; */
	display: block;
	padding: 20px 15px;
	text-align: justify;
	/* margin-top: -50px; */
	background-color: white;
	border: 1px solid #e6e6e6;
	border-bottom: 2px solid #5c5f6d;
	border-top: 2px solid #5c5f6d;
	background-color: white;
	overflow-y: hidden;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
	transition: max-height 0.5s;
}

	magic-item::after {
		display: inline-block;
		position: absolute;
		transform: rotate(180deg);
		transition: bottom 0.5s;
		bottom: -100%;
		left: 0px;
		content: "";
		/*border-top: 2px solid #5c5f6d;*/
		height: 100px;
		width: 100%;
		pointer-events: none;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+5,1+5,0+25 */
		background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 15px, rgba(255,255,255,0) 45px, rgba(255,255,255,0) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 15px,rgba(255,255,255,0) 45px,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 15px,rgba(255,255,255,0) 45px,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );*/ /* IE6-9 */
	}

	magic-item.fadeout-bottom:after {
		bottom: 0px;
		transition: bottom 0s;
	}

	magic-item::before {
		content: "";
		width: 100%;
		height: 100%;
		cursor: pointer;
		position: absolute;
		top: 0px;
		left: 0px;
		z-index: 10;
	}

	magic-item item-description {
		display: block;
		line-height: 1.5em;
		/*max-height: 14.4em;
		overflow: hidden;*/
	}

item-rarity {
	position: absolute;
	top: 20px;
	right: 15px;
	/* margin-top: -75px; */
	/* padding-top: 3px; */
	/* padding-right: 25px; */
	color: #ababab;
	/* transition: top cubic-bezier(.71,-0.02,.76,.74) 0.4s; */
}

item-attunement {
	display: none;
}

#navigator {
	position: fixed;
	display: block;
	bottom: 13px;
	right: 0;
	min-width: 40px;
	padding: 10px;
	text-align: center;
	background-color: #ffffff;
	z-index: 100;
	border: 1px solid #e6e6e6;
	border-right-color: transparent;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

item-tags {
	/*display:none;*/
}

.bookmark {
	background: #5c5f6d;
	background: linear-gradient(to bottom, #9c9da9,#40434e);
	height: 45px;
	position: absolute;
	top: -2px;
	right: 15px;
	width: 30px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	box-shadow: -5px -2px 2px -4px rgba(0,0,0,0.4);
	z-index: 100;
	cursor: pointer;
}

	.bookmark:after {
		content: '';
		display: block;
		border: 15px solid transparent;
		border-bottom-color: white;
		position: absolute;
		bottom: 0;
	}

.bookmarked {
	background: #466d80;
	background: linear-gradient(to bottom, #356e8a,#273644);
	/* border-top: 2px solid #293b4a; */
}

/*magic-item item-attunement:before { content: 'A'; }
magic-item contributor.active:before { content: 'C'; }

magic-item item-attunement.active, magic-item item-attunement.active:before { background-color: #3d88bd; }
magic-item contributor.active, magic-item contributor.active:before { background-color: #5eb16c; }*/

@media (min-width: 768px) {
	.navbar-fixed-side {
		background: white;
		border-right: 2px solid #5c5f6d;
	}
}

@media (max-width: 768px) {
	.navbar-fixed-side {
		background: white;
		border: 0;
		border-bottom: 2px solid #5c5f6d;
		/*margin-left: 0px;
		margin-right: 0px;
		position: fixed;
		right: 0px;
		left: 0px;
		z-index: 10000;*/
	}
	/*.main-container{
		margin-top: 60px;
	}*/
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: white;
	border-left: 1px solid #cccccc;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
}

::-webkit-scrollbar-button {
	max-height: 10px;
}

::-webkit-scrollbar-thumb {
	background-color: rgba(92, 95, 109, 0.9);
	border-radius: 10px;
}