body {
  /* font-size: 1.8rem; */
  background: none;
}

#navbar {
  display: none;
}

#pretty_controls {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  padding: 15px;
  background: rgba(255, 255, 255, 0.75);
}

#pretty_controls .setting_prop {
  flex: 1 1 120px;
  justify-content: flex-end;
}

#pretty_controls .setting_desc {
  flex: 1 1 100px;
}
#pretty_controls button {
  background: #1c7e9d;
  color: white;
  border: none;
  padding: 7px 12px;
  border-radius: 4px;
  cursor: pointer;
}

item-details {
  display: none;
}
item-details > div {
  display: none;
}
.item_tags, .item_id {
  display: none!important;
}

#item-wrapper {
  padding: 30px;
  background: #495b65 url("/images/hatching_light.png");
  margin-bottom: 50px;
  max-width: 950px;
  width: -moz-fit-content;
  width: fit-content;
}

magic-item + item-details {
  display: block;
  position: absolute;
  margin: 0px;
  bottom: 32px;
  column-count: 1;
  background: none;
  border: none;
  opacity: 0.5;
  padding: 0px 25px 8px 25px;
  font-size: 0.9em;
  line-height: 1.2em;
}
magic-item.image + item-details {
  width: 550px;
  right: 30px;
}

magic-item {
  /* min-height: 550px!important; */
  padding: 25px;
  margin: 0px;
  position: relative;
}
/*magic-item::after, magic-item.image::before {*/
/* magic-item::after {
  content: "BornToBrewStuff";
  display: block;
  position: absolute;
  font-weight: bold;

  right: 10px;
  bottom: 10px;
  font-size: 1.5em;
  color: rgba(9, 48, 70,0.1);
} */
/* magic-item.image::before {
    top: 205px;
    left: -165px;
    font-size: 3em;
    color: rgba(9, 48, 70, 0.05);
    transform: rotate(90deg);
} */


magic-item::after {
  content: "BornToBrewStuff";
  display: block;
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-weight: bold;
  font-size: 1.5em;
  color: #264658;
  opacity: .15;
  -webkit-mask-image: linear-gradient(0deg, rgba(1, 1, 1, 0.2) 10%, #010101 80%);
  mask-image: linear-gradient(0deg, rgba(1, 1, 1, 0.2) 10%, #010101 80%);
}
item-description {
  margin-bottom: 15px;
}
item-description img {
  margin-bottom: -15px;
}

item-title {
  font-size: 1.1em;
}

#item-menu {
  display: none;
}

#related {
  display: none;
}

#item-wrapper #item-width item-description::after {
  content: "";
  display: block;
  height: 10px;
}

#item-wrapper #item-width.image-only > magic-item {
  width: 550px;
  min-height: 550px;
  display: flex;
}
#item-wrapper #item-width.image-only > magic-item item-description {
  width: 100%;
  max-height: initial;
  height: fit-content;
  height: -moz-fit-content;
  float: none;
  display: flex;
  justify-content: center;
}
#item-wrapper #item-width.image-only > magic-item item-description img {
  float: none;
  max-width: 100%;
  max-height: 550px;
  margin-top: 0px;
}
#item-wrapper #item-width.image-only > magic-item item-description p,
#item-wrapper #item-width.image-only > magic-item item-description h3 {
  display: none;
}


#item-wrapper #item-width.text-only > magic-item {
  width: 550px;
  min-height: 550px;
  display: flex;
}
#item-wrapper #item-width.text-only > magic-item item-description {
  width: 100%;
  max-height: initial;
  height: fit-content;
  float: none;
}
#item-wrapper #item-width.text-only > magic-item item-description img {
  display: none;
}