---
---

@import "reset";
@import "variables";
@import "scrollbar";
// Syntax highlighting @import is at the bottom of this file

html{
	font-size: 62.5%; //sets font-size to 10px (if the browser still has its default font-size)
}
body {
	background: #fbfbfb url("{{ site.baseurl }}/images/tiling-hatching_light.png");
	background-size: 400px;
	font-size: 1.6rem;
	line-height: $normal;
	font-family: $roboto;
	color: $darkGray;
}

#{$a-tags} {
	color: $blue;
	text-decoration: none;
}

// *:after {
// 	font: normal normal normal 1.8rem/1em FontAwesome;
// }

#main {
	padding: 20px;

	@include mobile {
		padding: 0px;
		margin-top: 75px;
	}
}

.search {
	margin-bottom: 30px;

	a {
	color: #777;
	cursor: pointer;
	}
}

item-name {
	display: block;
	font-size: 3.2rem;
	margin-bottom: 10px;
	font-family: inherit;
	font-weight: 500;
	line-height: $compressed;
	color: $bluakDark;
	max-width: 80%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: left;
}
h1, h2, h3, h4 {
	color: $bluakDark;
	line-height: $normal;
	padding-top: 5px;
}
h1 { font-size: 3rem; }
h2 { font-size: 2.6rem; }
h3 { font-size: 2.2rem; }
h4 {
	font-size: 1.8rem;
	color: $gray;
}

magic-spell {
	//font-weight: 600;
	font-style: italic;
	text-transform: capitalize;
	//cursor: pointer;
	color: $gray;
}

magic-item {
	position: relative;
	display: block;
	padding: 20px 15px;
	text-align: justify;
	margin-bottom: 15px;
	background-color: white;
	border: 1px solid $borderLight;
	border-bottom: 2px solid $bluakMedium;
	border-top: 2px solid $bluakMedium;
	background-color: white;
	overflow-y: hidden;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
	transition: max-height 0.5s;

	item-description {
		display: block;
		line-height: $normal;
	}
}
item-tags{
	color: $mediumGray;

	item-rarity {
		position: absolute;
		top: 20px;
		right: 15px;
	}

	item-attunement {
		position: relative;
		top: -12px;
	}
}

.read-more {
	font-size: 2.5rem;
}

body {
	background: #ccc url(/images/tiling-hatching_light.png)
}
.form-control {
	border:1px solid #ababab;
}
magic-item {
	border-left: 0px;
    	border-right: 0px;
}



.navbar-fixed-side {
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
	background: white;

	@include desktop {
		border-right: 2px solid $bluakMedium;
	}
	@include mobile {
		border-bottom: 2px solid $bluakMedium;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		padding: 0px 15px;
		z-index: 100;
	}
}
// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
