---
---

@import "reset";
@import "variables";
// @import "scrollbar";
@import "navbar";
@import "custom-bootstrap";

html{
	font-size: 62.5%; /*sets font-size to 10px (if the browser still has its default font-size)*/
}
body {
	background: $backgroundMedium;
	font-size: 1.6rem;
	font-family: $roboto;
	color: $darkGray;

	@include desktop {
		line-height: $normal;
	  overflow-x: hidden;
	}
	@include mobile {
		line-height: $compressed;
	}
}

::selection {
    background: rgba(97, 130, 179, 0.25);
}

hr{
	border: 0;
  border-top: 1px solid $transp_lightGray;
}

h1, h2, h3, h4 {
	color: $bluakDark;
	line-height: $normal;
	margin: 0px;
	padding-top: 10px;
}
h1 { font-size: 3.0rem; }
h2 { font-size: 2.6rem; }
h3 { font-size: 2.2rem; }
h4 {
	font-size: 1.8rem;
	color: $gray;
}

#{$a-tags} {
	color: $blue;
	text-decoration: none;
	// transition-delay: 0.05s;
}
.active:hover a, .disabled:hover a {
	background: 0 !important;
	color: inherit !important;
}

.disabled, .disabled > a, {
	color: $gray;
  cursor: default !important;
}

.caret {
	display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
	border: 4px solid transparent;
  border-top-color: $gray;
  border-bottom: none;
}

.width-wrapper {
	margin-top: 75px;
  display: block;
  position: relative;
  max-width: 1200px;
  margin: 0px auto;
	padding: 0px 20px;
	@include medium {
		padding: 0px 12%;
	}
	@include large-up {
		padding: 0px 8%;
	}
}

#main-wrapper {
	display: block;
	position: relative;
	float: left;
	width: 100%;

	@include large-up {
		width: 75%;
	}
}
#main {
	@include large-up {
		margin-left: 20px;
	}
}

#sidebar {
	display: block;
	position: relative;
	float: right;
	min-height: 500px;
	width: 100%;

	@include large-up {
		width: 25%;
	}
}

#navigation-wrapper {
	max-width: 1200px;
	display: block;
	position: fixed;
	bottom: 0px;
	
	@include mobile {
		left: 20px;
		right: 20px;
	}
	@include desktop {
		width: 100%;
	}

	#return-to-top {
		position: absolute;
		bottom: 10px;
	  background: rgba(0, 0, 0, 0.5);
	  width: 50px;
	  height: 50px;
		border-radius: 50px;
		padding: 7px 10px;
	  display: block;
    opacity: 0;
	  text-decoration: none;

		@include mobile {
		  left: 50%;
			margin-left: -25px;
		}
		@include desktop {
			left: 10px;
		}

		&:hover {
	    background: rgba(0, 0, 0, 0.7);
		}
	}
}

.search {
	margin-bottom: 30px;

	a {
	color: #777;
	cursor: pointer;
	}
}

magic-spell {
	font-style: italic;
	color: $gray;
}

magic-item, item-details, .page, #sidebar {
	display: block;
	padding: 20px 15px;
	text-align: justify;
	background: $backgroundLight;
	border: 0px;
	border-bottom: 2px solid $bluakMedium;
	border-top: 2px solid $bluakMedium;
	box-shadow: $boxshadow;

	@include mobile {
		text-align: left;
	}
}

magic-item, item-details, .page {
	position: relative;
	margin-bottom: 15px;
	overflow-y: hidden;
	transition: max-height 0.5s;

	item-description {
		line-height: $normal;
		@include mobile {
			line-height: $compressed;
		}
	}
}
.page {
	min-height: 95vh;
}

item-details { text-align: left; }
item-details > * {
	display: inline-block;
	width: 49%;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;

	@include mobile {
		width: 100%;
	}
}

item-name {
	display: block;
	font-size: 3.0rem;
	font-family: inherit;
	font-weight: 500;
	line-height: $compressed;
	color: $bluakDark;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: left;

	@include mobile {
		font-size: 2.5rem;
		max-width: 100%;
	}
}

item-tagline {
	color: $mediumGray;
	position: relative;
	top: -4px;
}

item-tags {
	padding: 10px;
	padding-bottom: 0px;
  display: block;
}
item-tag {
	display: inline-block;
	margin-right: 5px;
	margin-bottom: 5px;
	a {
		display: block;
		padding: 3px 6px;
		border-radius: 4px;
		border: 1px solid $mediumGray;
	}
	img {
		height: 12px;
		padding-right: 5px;
		@include mobile {
			display: none;
		}
	}
	span { color: rgba(0,0,0,0.3); }
}
item-tag:hover { background: rgba(0,0,0,0.1); }

.read-more {
	display: inline-block;
	text-align: center;
	padding: 5px;
	height: 30px;
	width: 30px;
	line-height: 17px;
	border-radius: 30px;
	background: $transp_lightBlue;
	font-size: 2.5rem;

	&:hover {
		background: $transp_lightGray;
	}
}
.form-control, .btn-default {
	border: 1px solid $mediumGray;
}
input, button{
	font-size: 1.6rem;
	line-height: $normal;
}

.text-center { text-align: center; }
.pull-right { float: right; }
.pull-left { float: left;  }

.pager {
	padding-left: 0px;
	list-style: none;
	padding-top: 10px;
	padding-bottom: 45px;
	text-align: center;

	li {
		display: inline-block;
	}
	.next {
		float: right;
		text-align: right;
	}
	.previous {
		float: left;
		text-align: left;
	}

	.circle {
		position: relative;
    display: inline-block;
    height: 50px;
    width: 50px;
		border: 2px solid #5c5f6d;
    border-radius: 50px;
    text-align: center;
		vertical-align: middle;
    background: $backgroundLight;
    padding: 8px;
    font-size: 40px;
    z-index: 10;
    margin-bottom: 4px;
		box-shadow: $boxshadow;

		@include mobile {
			padding-top: 10px;
		}
	}
	.top .circle {
		padding-top: 3px;
	}
}
	.pager span{
		position: relative;
		display: inline-block;
		background: $backgroundLight;
		padding: 6px 10px;
		border-radius: 4px;
		border-bottom: 2px solid $bluakMedium;
		box-shadow: $boxshadow;

		@include mobile {
			display: none;
		}
	}
	.pager .next span {
		padding-right: 30px;
		margin-right: -25px;
	}
	.pager .previous span {
		padding-left: 30px;
		margin-left: -25px;
	}
	.pager a:hover .circle:after {
    content: "";
    height: 50px;
    width: 50px;
    background: $transp_lightBlue;
    position: absolute;
    top: -2px;
    left: -2px;
    border-radius: 50px;
}

#tags-list {
	ul {
		list-style-type: none;
		padding-left: 0px;
	}
	li{
    padding: 5px 10px;
    border-radius: 4px;

    &:hover {
      background-color: $transp_lightBlue;
    }
	}
	p {
		color: $gray;
    padding-bottom: 2px;
    border-bottom: 1px solid $transp_lightGray;
	}
}

.pagination {
	display: inline-block;
	padding-left: 0px;
	margin-bottom: 60px;
	margin-top: 10px;

	.active {
		background: $blue;
	 	color: $white;
		a { color: $white;}
	}
}
	.pagination > li {
		display: block;
		float: left;
		background: $backgroundLight;
		border: 2px solid $bluakMedium;
		border-radius: 50px;
		height: 50px;
    width: 50px;
		margin-left: 3px;
		margin-right: 3px;
		font-size: 2rem;
    vertical-align: middle;

		a {
			display: block;
			padding: 12px 5px;
			border-radius: 50px;

			&:hover {
				background: $transp_lightBlue
			}
		}
		&:first-child a, &:last-child a {
			padding: 8px 5px;
			height: 50px;
	    width: 50px;
	    font-size: 4rem;
	    line-height: 26px;
		}
		&:first-child a { margin-left: -3px }
	}
	.pagination > li .extra {
		@include mobile {
			display: none;
		}
	}

#mobile-menu-block {
	position: fixed;
	height: 100vh;
	width:100vw;
	top: 0px;
	left: 0px;
	background: transparent;
	z-index: 99;
	pointer-events: all;
}
