magic-item {
	position: fixed;
	display: block;
	z-index: 1999;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	width: 100vw!important;
	max-width: initial;
	border: 0;
	border-radius: 0px;
	padding: 25px;
	margin: 0px;
}

item-details, item-tags, item-description + hr {
	display: none;
}

#main-wrapper, .width-wrapper {
	position: initial;
}
