---
layout: home
---
{% for post in paginator.posts %}
  <magic-item id="{{ post.item_id }}" class="{{ post.item_rarity | slugify }}{% if post.item_attunement %} attunement{% endif %}">
    <item-head>
      <item-title>
        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
        <item-tagline>{{ post.category | downcase }}, {{ post.item_rarity | downcase }} {% if post.item_attunement %}(requires attunement{% if post.item_requirement != null %} {{ post.item_requirement }}{% endif %}){% endif %}</item-tagline>
      </item-title>
      <item-extras aria-hidden="true">
  			<div class="rarity"><img src="/images/rarities.svg" title="{{ post.item_rarity | downcase }}" /></div>
  		</item-extras>
    </item-head>

    <item-details>
      <div class="type">{{ post.category | downcase }}</div>
      <div class="subtypes">{% for subcat in post.item_subtypes | sort %}{{subcat | downcase}}{% unless forloop.last %}, {% endunless %}{% endfor %}</div>
      <div class="rarity">{{ post.item_rarity | downcase }}</div>
      <div class="attunement">{% if post.item_attunement %}Yes{% else %}{% endif %}</div>
      <div class="cursed">{% if post.item_curse %}Yes{% else %}{% endif %}</div>
    </item-details>

    <item-description>
  		{{ post.content }}
  	</item-description>

    <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">
			<div class="expander">
				<span class="dot"></span><span class="dot"></span><span class="dot"></span>
			</div>
		</a>
  </magic-item>
{% endfor %}
