
<script src="{{ site.baseurl }}/js/scripts.js"></script>
<script>
  $(document).ready(function(){
    {% if page.subpaging %}
      var current_page = window.location.protocol + "//" + window.location.hostname + window.location.pathname;
      var styles_id = "tags-style";
      //if a link in a tags-list starts with "#" pretend that hash is its own page
      $('#main a[href^="#"]').on("click touchend", function (e) {
        e.stopImmediatePropagation();
        e.preventDefault();
        var tag = $(this).attr("href");

        if (tag != "#" && $(tag).length == 1) {
          hideAllExcept(tag);
        }
        else { showAll(); }
      });

      $('#return').hide();
      if (window.location.hash) { // load the page with only the elements in the hash if there is one
        var tag = window.location.hash;

        if ($(tag).length == 1) { hideAllExcept(tag); }
        else { showAll(); }
      }

      function hideAllExcept(tag) {
        var styles;

        if ($(tag).attr("class") == "subtag") { //if its a subtag
          var parent_tag = "#" + $(tag).closest(".tag").attr("id");
          styles = "<style id='" + styles_id + "' type='text/css'> .tag, #head, .tag" + parent_tag + " .subtag{display:none} #return,.tag" + parent_tag + ",.tag" + parent_tag + " .subtag" + tag + "{display:block}</style>";
        }
        else {
          styles = "<style id='" + styles_id + "' type='text/css'> .tag, #head{display:none} #return,.tag" + tag + "{display:block}</style>";
        }
        $("#" + styles_id).remove();
        $(styles).appendTo("head");
        $("#return").show();
        history.replaceState(null, null, current_page + tag); /* replace URL so current place is saved but it does not create a large history stack */
      }
      function showAll(){
          $("#" + styles_id).remove();
          $("#return").hide();
          history.replaceState(null, null, current_page); /* replace URL so current place is saved but it does not create a large history stack */
      }
    {% endif %}

    $(".dropdown-toggle").on("click touchend", function (e) {
      e.preventDefault();
      $(this).next(".dropdown").stop(true, false).slideToggle(250);
    });

    //if a link starts with "#" make it animate to that position and prevent adding it to the url
    $('a[href^="#"]').on("click touchend", function (e) {
      if (this.hash != ""){ //watch for empty hashes
        e.preventDefault();
        var $target = $(this.hash);
        var top = $target.offset().top - 50;
        if (top < 0)
          top += 50;

        $('html, body').stop().animate({
            'scrollTop': top
        }, 500, 'swing');
      }
    });

    var mobileblock = "mobile-menu-block";
    $("#navbar-toggle").on("click", function() {
      if ($(window).width() < 768){ /* mobile size */
        if ($("#" + mobileblock).length > 0){
          $("#" + mobileblock).remove();
          $("#navbar-content > ul").slideUp(250);
        }
        else {
          $("#navbar").removeAttr("style");
          $("body").prepend("<div id='"+ mobileblock +"'></div>");
          $("#navbar-content > ul").slideDown(250);
        }
      }
    });
    $("body").on("click touchend","#" + mobileblock, function() {
      $("#" + mobileblock).remove();
      $("#navbar-content > ul").slideUp(250);
    });

    var timer;
    $(window).on("scroll resize", function () {
      clearInterval(timer);
      timer = setInterval(checkContextButton, 150);
      checkMobileMenu();
    });

    checkContextButton(); /* check once on load */
    function checkContextButton(){
      if ($(window).scrollTop() >= 150) {
          $("#return-to-top").stop(true, false).animate({ opacity: 1}, 250);
      } else { $("#return-to-top").stop(true, false).animate({ opacity: 0}, 250); }
    }

    var scrollPosition = 0;
    var currentPosition = 0;
    var difference = 0;
    var down = true;
    /*if the user is scrolling down hide the mobile menu. Scrolling up, bring back the menu*/
    function checkMobileMenu(){
      currentPosition = $(window).scrollTop();
      if ($(window).width() < 768){ /* mobile size */
        if ($(window).scrollTop() >= 150) {
          if (currentPosition > scrollPosition){ /*scrolling down*/
            if (down){
              $("#" + mobileblock).remove();
              $("#navbar").stop(true, false).slideUp(250);
              $("#navbar-content > ul").stop(true, false).slideUp(250);
              difference = 0;
              down = false;
            }
          }
          else { /*scrolling up*/
            difference += scrollPosition - currentPosition; /*difference is the change between the last positions*/
            if (difference > 50 && !down){ /*if the difference is positive the screen is going up. If its more than 50 show the menu*/
              $("#navbar").stop(true, false).slideDown(250);
              down = true;
            }
          }
        }
        else if (!down) {
          $("#navbar").slideDown(250);
          down = true;
        }
      }
      else { /* desktop size */
        $("#" + mobileblock).remove();
        $("#navbar").removeAttr("style");
        $("#navbar-content > ul").removeAttr("style");
        $(".dropdown").removeAttr("style");
        down = true;
      }
      scrollPosition = currentPosition;
    }
  });
</script>
