{%- if include.page_bool %}{% assign post = page %}{% endif -%}

{%- assign subtype_bool = false -%}
{%- assign subtype_string = "" -%}
{%- if post.category == "Armor" %} {% assign subtype_bool = true %} {% endif -%}
{%- if post.category == "Weapon" %} {% assign subtype_bool = true %} {% endif -%}


{%- assign rarity = post.item_rarity | downcase -%}
{%- assign gold_scale = site.data.economy.gold_economy.scale.default -%}
{%- assign silver_scale = site.data.economy.historic_silver_economy.scale.default -%}

{%- if post.category == "Scroll" %}
  {%- assign gold_values = site.data.economy.gold_economy.scrolls[{{rarity}}] -%}
  {%- assign silver_values = site.data.economy.historic_silver_economy.scrolls[{{rarity}}] -%}
{% else %}
  {%- assign gold_values = site.data.economy.gold_economy.default[{{rarity}}] -%}
  {%- assign silver_values = site.data.economy.historic_silver_economy.default[{{rarity}}] -%}
{% endif -%}

{%- if post.category == "Scroll" %}
  {%- assign gold_scale = site.data.economy.gold_economy.scale.scrolls -%}
  {%- assign silver_scale = site.data.economy.historic_silver_economy.scale.scrolls -%}
{% endif -%}
{%- if post.category == "Potion" %}
  {%- assign gold_scale = site.data.economy.gold_economy.scale.potions -%}
  {%- assign silver_scale = site.data.economy.historic_silver_economy.scale.potions -%}
{% endif -%}
{%- if post.item_subtypes contains "Ammunition" %}
  {%- assign gold_scale = site.data.economy.gold_economy.scale.ammunition -%}
  {%- assign silver_scale = site.data.economy.historic_silver_economy.scale.ammunition -%}
{% endif -%}


{%- assign minor_item = false -%}
{%- assign major_item = false -%}
{%- if post.category == "Weapon" %}
  {% if post.item_subtypes contains "Ammunition" %}
    {% assign minor_item = true %}
  {% else %}
    {% assign major_item = true %}
  {% endif %}
{% endif -%}
{%- if post.category == "Armor" %}  {% assign major_item = true %} {% endif -%}
{%- if post.category == "Scroll" %} {% assign minor_item = true %} {% endif -%}
{%- if post.category == "Potion" %} {% assign minor_item = true %} {% endif -%}

{%- if minor_item == false and major_item == false %}
  {%- if post.item_rarity == "Mediocre" or post.item_rarity == "Common" or post.item_rarity == "Uncommon" %}
    {% assign minor_item = true %}
  {% else %}
    {% assign major_item = true %}
  {% endif -%}
{% endif -%}


<magic-item id="{{ post.item_id }}" class="magic-item {{ post.item_rarity | slugify }} {{ post.category | slugify }}{% if post.item_attunement %} attunement{% endif %}{% if post.item_curse %} cursed{% endif %}{% if post.item_image %} image{% endif %}" {% if include.related %}data-related="{{include.related}}"{% endif %}>
  <item-head>
    <item-title>
      <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
      {%- if subtype_bool -%}
        {%- capture subtype_string %}({% for subcat in post.item_subtypes | sort %}{{subcat | downcase}}{% unless forloop.last %}, {% endunless %}{% endfor %}){% endcapture -%}
      {%- endif -%}
      <item-tagline>{{ post.category | downcase }}{{ subtype_string }}, {{ post.item_rarity | downcase }}{% if post.item_attunement %} (requires attunement{% if post.item_requirement != null %} {{ post.item_requirement }}{% endif %}){% endif %}</item-tagline>
    </item-title>
    <item-extras aria-hidden="true">
      <div class="rarity"><img src="/images/rarities.svg" title="{{ post.item_rarity | downcase }}{% if post.item_attunement %} (requires attunement){% endif %}" /></div>
    </item-extras>
  </item-head>
  <item-description>
{%- if post.item_image %}<img title="{{ post.title }} by {{ post.image_artist }}" src="{{ site.url }}{{ post.item_image }}" style="shape-outside: url('{{ site.url }}{{ post.item_image }}')" />{% endif -%}
{%- if page_bool -%}{{ content | markdownify }}{%- else -%}{{ post.content | markdownify }}{%- endif -%}
  </item-description>
  <item-details>
    <div class="item_type">{{ post.category | downcase }}</div>
    <div class="item_subtypes">{% for subcat in post.item_subtypes | sort %}{{subcat | downcase}}{% unless forloop.last %}, {% endunless %}{% endfor %}</div>
    <div class="item_rarity">{{ post.item_rarity | downcase }}</div>
    <div class="item_major">{% if major_item %}Major{% else %}Minor{% endif %}</div>
    <div class="item_cost">
      {{ site.data.economy.gold_economy.default.common[0] }} - {{ site.data.economy.gold_economy.default.common.min }} - {{ site.data.economy.gold_economy.default.common["min"] }}
      ---
      {{ gold_values["max"] }} * {{ gold_scale }}
      {{ silver_values["max"] }} * {{ silver_scale }}
      {{ silver_values["max"] | plus: silver_values["min"] | divided_by: 2 | times: silver_scale | round }}
      <div class="economy_GE">{% if major_item %}{{ gold_values["max"] | times: gold_scale | round }}{% else %}{{ gold_values["max"] | plus: gold_values["min"] | divided_by: 2 | times: gold_scale | round }}{% endif %}</div>
      <div class="economy_HSE">{% if major_item %}{{ silver_values["max"] | times: silver_scale | round }}{% else %}{{ silver_values["max"] | plus: silver_values["min"] | divided_by: 2 | times: silver_scale | round }}{% endif %}</div>
    </div>
    <div class="item_attunement">{% if post.item_attunement %}Yes{% else %}{% endif %}</div>
    <div class="item_curse">{% if post.item_curse %}Yes{% else %}{% endif %}</div>
    <div class="item_date" title='Item created {{ post.date | date: "%Y-%m-%d" }}'>{%- if post.item_updated %}{{ post.item_updated }}*{%- else -%}{{ post.date | date: "%Y-%m-%d" }}{% endif -%}</div>
    <div class="item_id">#{{ post.item_id }}</div>
    <div></div>
  </item-details>
  <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">
    <div class="expander">
      <span class="dot"></span><span class="dot"></span><span class="dot"></span>
    </div>
  </a>
</magic-item>
