<script>
  function masonryWhenReady() {
    // masonry and element sizing
    heights = ["", "tall", "taller", "tallest"];

    if ($("#grid-sizes magic-item").length == 0){
      heights.forEach(function (e, i) {
        $("#grid-sizes").append($("<magic-item class='" + heights[i]+"'><item-description></item-description></magic-item>"))
      });
    }
    var sizes = $("#grid-sizes item-description");


    //function setItemHeight(ele)
    {% include /js/masonry-item-height.js %}


    try {
      var table_layout = sessionStorage.getItem("table");
      if (table_layout == "true"){
        $("#main").addClass("table"); //go to table
        $("#search-results").addClass("table");
        $("#btn-grid").hide(); //swap buttons
        $("#btn-table").show();

        setupScroll($('section#main'));
      }
      else {
        $("#main magic-item").each(function(){setItemHeight($(this))});
        $("#related magic-item").each(function(){setItemHeight($(this), false)});

        var $grid = $('section#main').masonry({
          columnWidth: 'magic-item',
          itemSelector: 'magic-item',
          fitWidth: true,
          horizontalOrder: false,
          gutter: 15,
          stagger: 0
        });
        // $("#main-nav").width($("#main").width());

        setupScroll($('section#main'), $grid.data('masonry'));
      }
    }
    catch(err){
      console.log("Error occurred while trying to set up layout or infinite scroll");
      console.log(err);
    }

    $("#search-show").on("click", function() {
      $("#search-form").css("width", "100%");
      if ($(window).width() <= 768){  //minimize header if it is a tablet or smaller
        $("#navbar-header").css("transform", "translateX(-350px)");
      }
      $("#search").focus();
    });

    function setupScroll(grid, masonry){
      var href = window.location.href.split('/');
      var currentPage = href[href.length - 1];
      if (!currentPage) currentPage = href[href.length - 2];
      currentPage = parseInt(currentPage) || 0;

      if ($("#main").data("scrollable")){
        if (masonry){
          grid.infiniteScroll({
            path: function() { return '/page/' + Math.max((currentPage + this.pageIndex), 2) + "/";},
            checkLastPage: '.pagination_next',
            append: 'magic-item',
            scrollThreshold: 1000,
            historyTitle: false,
            hideNav: '.page-navigation',
            status: '.paginator-status',
            prefill: true,
            outlayer: masonry
          });
        }
        else {
          grid.infiniteScroll({
            path: function() { return '/page/' + Math.max((currentPage + this.pageIndex), 2) + "/";},
            checkLastPage: '.pagination_next',
            append: 'magic-item',
            scrollThreshold: 750,
            historyTitle: false,
            hideNav: '.page-navigation',
            status: '.paginator-status',
            prefill: true
          });
        }

        grid.on('append.infiniteScroll', function( event, response, path, items ) {
          $(items).each(function(){setItemHeight($(this))});
          grid.masonry('layout');
        });
        // grid.on('last.infiniteScroll', function( event, response, path ) {
        //   $("#pagination .no-more").show();
        // });
      }
      else {
        //do nothin'
      }
    }
  }

  document.addEventListener("pjax:success", masonryWhenReady);
  masonryWhenReady();
</script>
