<nav class="navbar navbar-default navbar-fixed-side">
  <div class="navbar-header">
    <a href="{{ site.baseurl }}/" class="navbar-brand">{{ site.name }}</a>
    <a id="navbar-toggle">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a>
  </div>
  <div id="navbar-collapse" class="collapse">
    <ul class="navbar-nav">
      <li><a href="{{ site.baseurl }}/">Items</a></li>
      <li><a href="{{ site.baseurl }}/about">About</a></li>
      <li>
        <a href="#" class="dropdown-toggle collapsed" data-toggle="collapse" data-target="#category-menu">View by Category <b class="caret"></b></a>
        <div id="category-menu" class="collapse">
          <ul class="navbar-nav">
            <li><a href="{{ site.baseurl }}/tags/types/">Type</a></li>
            <li><a href="{{ site.baseurl }}/tags/rarities/">Rarity</a></li>
            <li><a href="{{ site.baseurl }}/tags/">Tags</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</nav>
<script>
  $(document).ready(function(){
    var mobileblock = "mobile-menu-block";
    $("#navbar-toggle").on("click", function() {
      if ($(window).width() < 768){ /* mobile size */
        if ($("#" + mobileblock).length > 0){
          $("#" + mobileblock).remove();
          $("#navbar-collapse").collapse("hide");
        }
        else {
          $("#main").prepend("<div id='"+ mobileblock +"'></div>");
          $("#navbar-collapse").collapse("show");
        }
      }
    });
    $("#" + mobileblock).on("click", function() {
      $("#" + mobileblock).remove();
      $("#navbar-collapse").collapse("hide");
    });
  });
</script>
