<nav id="navbar">
  <div class="width-wrapper">
    <div class="column-wrapper">

      <div id="main-nav" class="column-wrapper">
        <div id="navbar-header">
          <a href="{{ site.baseurl }}/" id="navbar-brand">
            <img src="/images/borntobrewstuff-logo.svg" />
            {{ site.name }}
          </a>
        </div>
        <div id="navbar-content">
          <form id="search-form" method="get" action="/">
            <input id="search" name="q" type="text" placeholder="Search" />
            <input id="search-btn" type="submit" />
          </form>
          <input id="search-show" type="button" />
        </div>
        <a href="/items/random/" title="Random Item" ga-on="click" ga-event-category="Random" ga-event-action="click">
          <span id="random"></span>
        </a>
        <!-- <a href="/table" id="btn-table" title="Table Layout" ga-on="click" ga-event-category="Grid" ga-event-action="layout">
          <span id="table-layout"></span>
        </a>
        <a href="/grid" id="btn-grid" title="Grid Layout" ga-on="click" ga-event-category="Table" ga-event-action="layout">
          <span id="grid-layout"></span>
        </a> -->
        <a href="/about/" title="About BornToBrewStuff">
          <span id="about"></span>
        </a>
      </div>
    </div>
  </div>
  <hr class="hidden" />
  <div class="width-wrapper border-top hidden">
    <div class="column-wrapper">
      <div id="advanced-nav" class="hidden">
        <div>
          <label>Category</label>
          <div class="input-group" data-filter-group="type" id="rarity-group">
            <button data-filter=".armor">Armor <span class="filter-count"></span></button>
            <button data-filter=".potion">Potion <span class="filter-count"></span></button>
            <button data-filter=".ring">Ring <span class="filter-count"></span></button>
            <button data-filter=".rod">Rod <span class="filter-count"></span></button>
            <button data-filter=".scroll">Scroll <span class="filter-count"></span></button>
            <button data-filter=".staff">Staff <span class="filter-count"></span></button>
            <button data-filter=".tattoo">Tattoo <span class="filter-count"></span></button>
            <button data-filter=".wand">Wand <span class="filter-count"></span></button>
            <button data-filter=".weapon">Weapon <span class="filter-count"></span></button>
            <button data-filter=".wondrous">Wondrous <span class="filter-count"></span></button>
          </div>
        </div>
        <div>
          <label>Rarity</label>
          <div class="input-group" data-filter-group="rarity" id="type-group">
            <button data-filter=".common">Common <span class="filter-count"></span></button>
            <button data-filter=".uncommon">Uncommon <span class="filter-count"></span></button>
            <button data-filter=".rare">Rare <span class="filter-count"></span></button>
            <button data-filter=".very-rare">Very Rare <span class="filter-count"></span></button>
            <button data-filter=".legendary">Legendary <span class="filter-count"></span></button>
            <button data-filter=".artifact">Artifact <span class="filter-count"></span></button>
          </div>
        </div>
        <div>
          <label>Properties</label>
          <div class="input-group" data-filter-group="properties" id="property-group">
            <button data-filter=".attunement">Attunement <span class="filter-count"></span></button>
            <button data-filter=":not(.attunement)">No Attunement <span class="filter-count"></span></button>
            <button data-filter=".cursed">Cursed <span class="filter-count"></span></button>
          </div>
        </div>
      </div>
      <div id="advanced-results"><div><span id="search-count"></span> Results</div> <div id="show-advanced-nav">Advanced <span>+</span></div></div>
    </div>
  </div>
</nav>
