<div id="pretty_controls">
  <div class="setting_item advanced">
    <div class="setting_desc">
      <h3>Currency</h3>
    </div>
    <div class="setting_prop">
      <label class="switch">
        <input type="checkbox" id="prettyCurrency">
        <div class="switch_wrapper">
          <span class="off">OFF</span><span class="on">ON</span>
          <div class="toggle_wrapper">
            <div class="toggle"></div>
          </div>
        </div>
      </label>
    </div>
  </div>
  <div class="setting_item advanced">
    <div class="setting_desc">
      <h3>School</h3>
    </div>
    <div class="setting_prop">
      <label class="switch">
        <input type="checkbox" id="prettySchool">
        <div class="switch_wrapper">
          <span class="off">OFF</span><span class="on">ON</span>
          <div class="toggle_wrapper">
            <div class="toggle"></div>
          </div>
        </div>
      </label>
    </div>
  </div>
  {% if page.image %}
  <div class="setting_item">
    <div class="setting_desc">
      <h3>Image</h3>
    </div>
    <div class="setting_prop">
      <label class="switch">
        <input type="checkbox" id="prettyImage" checked>
        <div class="switch_wrapper">
          <span class="off">OFF</span><span class="on">ON</span>
          <div class="toggle_wrapper">
            <div class="toggle"></div>
          </div>
        </div>
      </label>
    </div>
  </div>
  <div class="setting_item">
    <div class="setting_desc">
      <h3>Text</h3>
    </div>
    <div class="setting_prop">
      <label class="switch">
        <input type="checkbox" id="prettyText" checked>
        <div class="switch_wrapper">
          <span class="off">OFF</span><span class="on">ON</span>
          <div class="toggle_wrapper">
            <div class="toggle"></div>
          </div>
        </div>
      </label>
    </div>
  </div>
  {% endif %}
  {% if page.item_curse %}
  <div class="setting_item">
    <div class="setting_desc">
      <h3>Curse</h3>
    </div>
    <div class="setting_prop">
      <label class="switch">
        <input type="checkbox" id="prettyCurse" checked>
        <div class="switch_wrapper">
          <span class="off">OFF</span><span class="on">ON</span>
          <div class="toggle_wrapper">
            <div class="toggle"></div>
          </div>
        </div>
      </label>
    </div>
  </div>
  {% endif %}
  <button id="btnPrettyDownload">Download Image</button>
  <button id="btnPrettyReturn" onclick="location.reload()">Return to Site</button>
</div>
