
<!-- search logic -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js"></script> -->
<script src="/js/search-index.js"></script>
<!-- <script id="result-template" type="x-tmpl-mustache">
  {% raw %}
    <magic-item id="{{id}}">
      <a href="{{url}}"><item-name>{{title}}</item-name></a>
      <item-tagline>{{type}}, {{rarity}} {{#attunement}}(requires attunement{{#requirement}} {{requirement}}{{/requirement}}){{/attunement}}</item-tagline>
      <item-description>
        {{{content}}}
        <a href="{{url}}" class="read-more">
          <p>Read more &raquo;</p>
          <div class="expander">
            <span class="dot"></span><span class="dot"></span><span class="dot"></span>
          </div>
        </a>
      </item-description>
    </magic-item>
  {% endraw %}
</script> -->


<script>
  $(document).ready(function() {
    var searchbox = $('#search');
    var searchResults = $('#search-results');

    var heights = ["","tall", "taller", "tallest"];
    heights.forEach(function (e, i) {
      $("#grid-sizes").append($("<magic-item class='" + heights[i]+"'><item-description></item-description></magic-item>"))
    });
    var sizes = $("#grid-sizes item-description");

    function setItemHeight(ele) {
      var description = $(ele).find("item-description")[0];
      var heightCount = 0;
      while (heightCount < heights.length && description.scrollHeight > sizes[heightCount].scrollHeight + 15) {
        heightCount++;
      }

      $(ele).addClass(heights[heightCount]);
      if (description.scrollHeight > description.clientHeight)
        $(ele).addClass("show-more");
    }

    $("#search-results magic-item").each(function(){setItemHeight($(this))});

    var $searchGrid = $('section#search-results').masonry({
      columnWidth: 'magic-item',
      itemSelector: 'magic-item',
      fitWidth: true,
      horizontalOrder: true,
      gutter: 15,
      stagger: 0,
      absolute: false
    });


    //const itemTemplate = ({ id, url, title, type, subtypes, rarity, attunement, requirement, content}) => `
    const itemTemplate = (item) => `
      <magic-item id="${item.id}" class="${item.rarity.replace(' ', '-')} ${item.attunement ? 'attunement' : ''}">
        <item-head>
          <item-title>
            <a href="${item.url}">${item.title}</a>
            <item-tagline>${item.category}, ${item.rarity} ${item.attunement ? `(requires attunement${item.requirement ? ` by ${item.requirement}`: ''})` : '' }</item-tagline>
          </item-title>
          <item-extras aria-hidden="true">
      			<div class="rarity"><img src="/images/rarities.png" title="${item.rarity}" /></div>
      		</item-extras>
        </item-head>

        <item-description>
      		${item.content}
      	</item-description>

        <a href="${item.url}" class="read-more">
    			<div class="expander">
    				<span class="dot"></span><span class="dot"></span><span class="dot"></span>
    			</div>
    		</a>
      </magic-item>
    `;

    $("#search-btn").on("click", function(){
      if (searchbox.val() == "") { unsearch(); }
      else{ search(); }
    });
    $("#search-clear").on("click", function(){
       unsearch();
    });
    searchbox.on('keyup', function (e) {
        if (e.keyCode == 13) { search(); }
        if (searchbox.val() == "") { unsearch(); }
    });

    function search(){
      var query = searchbox.val();
      var results = index.search(query, {
        fields: {
            title: {boost: 5},
            tags: {boost: 3},
            subtypes: {boost: 1},
            searchtext: {boost: 1}
        },
        bool: "OR",
        expand: true
      });
      searchResults.empty();

      if (results.length) {
        searchResults.html(results.map(itemTemplate).join(''));
      }
      else {
        searchResults.html("<magic-item><item-name>There's nothing here</item-name><item-description>Looks like I haven't made this item yet, weird.</item-description></magic-item>")
      }

      /* replace URL so current search is saved but it does not create a large history stack */
      history.replaceState(null, "Search", "/?q=" + encodeURIComponent(query));

      $('#search-results').show();
      $('#main').hide();
      $searchGrid.masonry('layout');
    }

    function unsearch(){
      searchbox.val("");
      searchResults.empty();

      $('#search-results').hide();
      $('#main').show();
    }

    function loadResult(result) {
      searchResults.append(Mustache.render(template, result));
    };

    var searchParams = new URLSearchParams(window.location.search);
    if (searchParams.get("q") != "")
    {
      searchbox.val(searchParams.get("q"));
      search();
    }

  });
</script>

<script>

</script>
<!-- end search logic -->
