
<!-- search logic -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js"></script> -->
<script src="/js/search-index.js"></script>
<!-- <script id="result-template" type="x-tmpl-mustache">
  {% raw %}
    <magic-item id="{{id}}">
      <a href="{{url}}"><item-name>{{title}}</item-name></a>
      <item-tagline>{{type}}, {{rarity}} {{#attunement}}(requires attunement{{#requirement}} {{requirement}}{{/requirement}}){{/attunement}}</item-tagline>
      <item-description>
        {{{content}}}
        <a href="{{url}}" class="read-more">
          <p>Read more &raquo;</p>
          <div class="expander">
            <span class="dot"></span><span class="dot"></span><span class="dot"></span>
          </div>
        </a>
      </item-description>
    </magic-item>
  {% endraw %}
</script> -->


<script>
  $(document).ready(function() {
    var searchbox = $('#search');
    var searchResults = $('#search-results');

    var heights = ["","tall", "taller", "tallest"];
    heights.forEach(function (e, i) {
      $("#grid-sizes").append($("<magic-item class='" + heights[i]+"'><item-description></item-description></magic-item>"))
    });
    var sizes = $("#grid-sizes item-description");

    function setItemHeight(ele) {
      var description = $(ele).find("item-description")[0];
      var heightCount = 0;
      while (heightCount < heights.length && description.scrollHeight > sizes[heightCount].scrollHeight + 15) {
        heightCount++;
      }

      $(ele).addClass(heights[heightCount]);
      if (description.scrollHeight > description.clientHeight)
        $(ele).addClass("show-more");
    }

    //const itemTemplate = ({ id, url, title, type, subtypes, rarity, attunement, requirement, content}) => `
    const itemTemplate = function(result) {
      var item = item_cache[result.ref];

      return `<magic-item id="${item.id}" class="${item.rarity.toLowerCase().replace(' ', '-')} ${item.attunement ? 'attunement' : ''}">
        <item-head>
          <item-title>
            <a href="${item.url}">${item.title}</a>
            <item-tagline>${item.category}, ${item.rarity.toLowerCase()} ${item.attunement ? `(requires attunement${item.requirement ? ` by ${item.requirement}`: ''})` : '' }</item-tagline>
          </item-title>
          <item-extras aria-hidden="true">
      			<div class="rarity"><img src="/images/rarities.png" title="${item.rarity.toLowerCase()}" /></div>
      		</item-extras>
        </item-head>

        <item-description>
      		${item.content}
      	</item-description>

        <a href="${item.url}" class="read-more">
    			<div class="expander">
    				<span class="dot"></span><span class="dot"></span><span class="dot"></span>
    			</div>
    		</a>
      </magic-item>
    `;
  }

    // $("#search-btn").on("click", function(){
    //   if (searchbox.val() == "") { unsearch(); }
    //   else{ search(); }
    // });
    $("#search-clear").on("click", function(){
       unsearch();
    });
    searchbox.on('keyup', function (e) {
        if (e.keyCode == 13) { search(); }
        if (searchbox.val() == "") { unsearch(); }
    });

    function search(){
      var query = searchbox.val();
      var results = index.search(`${query}^20 ${query}*^5 ${query}~1`);
      searchResults.empty();
      $("body").addClass("loading");
      $('#main').hide();

      if (results.length) {
        searchResults.html(results.slice(0, 50).map(itemTemplate).join(''));
      }
      else {
        searchResults.html("<magic-item><item-title><a>There's nothing here</a></item-name><item-description>Looks like I haven't made this item yet, weird.</item-description></magic-item>")
      }

      /* replace URL so current search is saved but it does not create a large history stack */
      history.replaceState(null, "Search", "/?q=" + encodeURIComponent(query));

      $("#search-results magic-item").each(function(){setItemHeight($(this))});

      var $searchGrid = $("section#search-results").masonry({
        columnWidth: 'magic-item',
        itemSelector: 'magic-item',
        fitWidth: true,
        horizontalOrder: true,
        gutter: 15,
        stagger: 0
      });
      //$("#search-results").width($("#main").width()); //set to main width under assumption it will be the same width so it is less likely to "flash"

      $("section#main").infiniteScroll("destroy"); //$grid is from the main page.

      $("body").delay(getRandom(1200,2200)).removeClass("loading");
    }
    function getRandom(min, max) {
      return Math.floor(Math.random() * (max - min + 1) ) + min;
    }

    function unsearch(){
      $('#main').show();
      searchbox.val("");
      searchResults.empty();
      $("#search-form").css("width","0px");

      setupScroll($('section#main'), $('section#main').data('masonry')); //$grid is from the main page.
    }

    var searchParams = new URLSearchParams(window.location.search);
    if (searchParams.get("q") && searchParams.get("q") !== null)
    {
      searchbox.val(searchParams.get("q"));
      search();
    }

  });
</script>

<script>

</script>
<!-- end search logic -->
