
<script src="{{ site.baseurl }}/js/search-index.js"></script>
<script id="result-template" type="x-tmpl-mustache">
  {% raw %}
    <div>{{content}}</div>
  {% endraw %}
</script>
<script>
  $(document).ready(function() {
    var searchbox = $('input#search');
    var searchResults = $('#searchResults');
    var template = $('#result-template').html().trim();
    // Mustache.parse(template);

    $("#search-btn").on("click", function(){
      var query = searchbox.val();
      var results = search_index.search(query);
      searchResults.empty();

      for (var item in results){
        var ref = results[result].ref;
        var result = item_cache[ref];
        loadResult(result);
      }
    });

    function loadResult(result) {
      searchResults.append(Mustache.render(template, result));
    };
  });
</script>
