
<script src="{{ site.baseurl }}/js/search-index.js"></script>
<script id="result-template" type="x-tmpl-mustache">
  {{page.mustacheSetDelimiter}}
  <magic-item>
    <item-name>{m{title}m}</item-name>
    <item-tags>
      <item-rarity>{m{rarity}m}</item-rarity>
      <item-attunement>{m{#attunement}m} requires attunement {m{requirement}m}{m{/attunement}m}</item-attunement>
    </item-tags>
    <item-description>
      {m{{content}}m}
    </item-description>
  </magic-item>
</script>
<script>
  $(document).ready(function() {
    var searchbox = $('input#search');
    var searchResults = $('#searchResults');
    var template = $('#result-template').html();
    Mustache.parse(template);

    $("#search-btn").on("click", function(){
      var query = searchbox.val();
      var results = search_index.search(query);
      searchResults.empty();

      for (var item in results){
        var ref = results[result].ref;
        var result = item_cache[ref];
        loadResult(result);
      }
    });

    function loadResult(result) {
      searchResults.append(Mustache.render(template, result));
    };
  });
</script>
