#navbar {
  height: 60px;
  background: $backgroundLight;
  position: fixed;
	z-index: 1000;
	top: 0px;
	left: 0px;
	right: 0px;
	line-height: 60px;
	box-shadow: 1px 1px 3px rgba(0,0,0,.2);
  border-bottom: 2px solid $bluakDark;
}
  #navbar a {
    text-decoration: none;
    color: $bluakDark;
    display: block;
    padding: 0px 10px;
  }
  #navbar a:first-child { padding-left: 0px; }
  #navbar a:last-child { padding-right: 0px; }

#main-nav {
  display: flex;
  margin: 0px auto;
  transition: width 0.2s ease;

  @include single {
		max-width: $col-single;
	}
  @include double {
		max-width: $col-double;
	}
  @include triple {
		max-width: $col-single;
	}
  @include quad {
		max-width: $col-quad;
	}
}

#navbar-header {
  font-size: 2.4rem;
  flex: 0 0 auto;
}
  #navbar-brand {
    display: flex!important;
  }
  #navbar-brand img {
    height: 40px;
    margin: auto;
    padding-right: 5px;
  }

#navbar-content {
  margin: 0px 5px 0px 25px;
  flex: 1 1 auto;
  position: relative;
}

#navbar ul {
	padding: 0px;
	margin: 0px;
	list-style: none;
}
#navbar li {
	position: relative;
}

	#navbar li ul {
    position: absolute;
    top: 58px;
    left: 0px;
    width: 100%;
    max-height: 0px;
    overflow: hidden;
    box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.4);
	}

#navbar li:hover .dropdown ul {
	max-height:500px;
}

#navbar-content > ul > li {
	float: left;
}

.dropdown ul {
	width: 100%;
	overflow: hidden;
}
.dropdown li {
	background: $backgroundLight;
	line-height: 50px;
}

#navbar-content li:hover > a.dropdown-toggle, #navbar-content li > a:hover { background: $transp_lightBlue; }

@include mobile {
  #navbar #navbar-content > ul {
    height: auto;
    position: absolute;
    left: 0;
    right: 0;
    background: $backgroundLight;
    border-bottom: 2px solid $bluakDark;

    & > li {
      width: 100%;
      float: none;
    }
  }

  #navbar li ul {
    position: static;
  }

  .dropdown, #navbar-content > ul {
    display: none;
  }
}

.dropdown-toggle {
  cursor: pointer;
}

#navbar-toggle {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 8px 4px!important;
  margin: 12px 26px;
  background: transparent;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 2px;
  cursor: pointer;
  z-index: 10;
  transform: rotate(45deg);

	@include desktop{
		display:none!important;
	}

	&:hover {
		color: $darkGray;
		background-color: $transp_lightBlue;
	}

  .icon-wrapper {
      transform: rotate(-45deg);
      display: flex;
      flex-direction: column;
      align-items: center;
  }

	.icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: #666;
    margin-bottom: 4px;
	}
  .icon-bar:first-child,.icon-bar:last-child{
		width: 12px;
	}
	.icon-bar:last-child{
		margin-bottom: 0px;
	}
}

#search-form {
	position: relative;
  float: right;
  width: 0%;
  max-width: 1000px;
  overflow: hidden;
  z-index: 10;
  transition: width 0.5s;

	#search {
		width: 100%;
		padding-right: 35px;
	}

	#search-btn {
		background: url('/images/icons/search.svg') no-repeat;
		background-position: center;
		background-size: 23px;
		position: absolute;
		top: 12px;
		right: 0px;
		border: 0;
		font-size: 0px;
		padding: 0px;
		display: block;
		height: 35px;
		width: 35px;
    opacity: 0.6;
	}
}

#search-show {
  background: url('/images/icons/search.svg') no-repeat;
  background-position: center;
  background-size: 23px;
  position: absolute;
  top: 12px;
  right: 0px;
  border: 0;
  font-size: 0px;
  padding: 0px;
  display: block;
  height: 35px;
  width: 35px;
  opacity: 0.4;
}

#search-results {
	margin-top: 20px;
}

#about {
	display: block;
	background: url('/images/icons/question-circle.svg') no-repeat;
	opacity: 0.4;
	width: 30px;
	height: 30px;
	margin: 15px 0px;
}

#random {
	display: block;
	background: url('/images/icons/random.svg') no-repeat;
	opacity: 0.4;
	width: 30px;
	height: 30px;
	margin: 15px 0px;
}
