#navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: $backgroundLight;
  z-index: 1000;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-bottom: 2px solid $bluakMedium;
  line-height: 50px;

}
#navbar-header {
  width: 100%;

  @include desktop{
    width: 25%;
    max-width: 200px;
    float: left;
  }
}
#navbar-brand {
  display: block;
  height: 100%;
	color: $bluakDark;
	font-size: 1.8rem;
}

#navbar-content {
  width: 100%;
  @include desktop{
    width: 75%;
    float: left;
  }
}

#navbar li {
  position: relative;
  background: $backgroundLight;
}

#navbar #navbar-content > ul {
  height: 50px;
  padding: 0px;
  list-style: none;

  @include mobile {
    border-bottom: 2px solid $bluakMedium;
  }
}
#navbar #navbar-content > ul > li {
  float: left;

  @include desktop { border-left: 1px solid $lightGray; }
  &:last-child {
    @include desktop { border-right: 1px solid $lightGray; }
  }

  a {
    display: block;
    height: 100%;
    width: 100%;
    padding: 0px 20px;
  }
}

#navbar-content li:hover > a.dropdown-toggle, #navbar-content li > a:hover { background: $transp_lightBlue; }

#navbar li ul {
  display: block;
  max-height: 0px;
  overflow: hidden;
  position: absolute;
  top: 50px;
  width: 100%;
  padding: 0px;
  list-style: none;
  box-shadow: $boxshadow;
  z-index: -1;
  border: 0;
  border-bottom: 2px solid $bluakMedium;
  transition: max-height 0.3s ease;

  @include mobile {
    border: 0px;
    border-top: 2px solid $transp_lightGray;
    // border-bottom: 2px solid $transp_lightGray;
  }
}
li:hover .dropdown ul {
  max-height: 500% !important;
  border-left: 1px solid $lightGray !important;
  border-right: 1px solid $lightGray !important;
}

@include mobile {
  #navbar #navbar-content > ul {
    height: auto;
    display: block;
    position: absolute;
    left: 0;
    right: 0;

    & > li {
      width: 100%;
      float: none;
    }
  }

  #navbar li ul {
    position: static;
  }
}

.dropdown-toggle {
  cursor: pointer;
}

#navbar-toggle {
	position: absolute;
  top: 0px;
  right: 0px;
  padding: 12px 10px;
  margin: 5px 20px;
  background: transparent;
  border: 1px solid $transp_lightGray;
  border-radius: 40px;
	cursor: pointer;
  z-index: 10;

	@include desktop{
		display:none;
	}

	&:hover {
		color: $darkGray;
		background-color: $transp_lightBlue;
	}

	.icon-bar {
		display: block;
    width: 18px;
    height: 2px;
    border-radius: 1px;
    background-color: $gray;
		margin-bottom: 4px;
	}
	.icon-bar:last-child{
		margin-bottom: 0px;
	}
}
