
//line height
$compressed: 1.1em;
$normal: 1.45em;
$spacey: 1.65em;

// Colors
$blue: #4183C4;
$blueDark: #3b6d9e;
$bluakDark: #40434e;
$bluakMedium: #5c5f6d;
$borderLight: #e6e6e6;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$mediumGray: #ababab;
$lightGray: #eee;
$white: #fff;
$transp_lightGray: rgba(0, 0, 0, 0.2);
$transp_lightBlue: rgba(31, 76, 121, 0.1);

//backgrounds
$backgroundMedium: #ccc url("/images/hatching_light.png");
$backgroundLight: $white url("/images/subtle_grunge_white.png");

// Font stacks
// @import url('https://fonts.googleapis.com/css?family=Roboto');
$roboto: 'Roboto', Helvetica, sans-serif;

/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v16/Fcx7Wwv8OzT71A3E1XOAjvesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v16/CWB0XYA8bzo0kSThX0UTuA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}


$a-tags: 'a, a:active, a:hover, a:focus, a:visited';

$col-xsmall: 480px;
$col-small: 768px;
$col-med: 992px;
$col-lg: 1200px;

@mixin desktop {
  @media screen and (min-width: $col-small) {
    @content;
  }
}
@mixin mobile {
  @media screen and (max-width: $col-small - 1) {
    @content;
  }
}

@mixin small {
  @media screen and (max-width: $col-small - 1){
    @content;
  }
}
@mixin medium {
  @media screen and (min-width: $col-small) and (max-width: $col-med - 1) {
    @content;
  }
}
@mixin large {
  @media screen and (min-width: $col-med) and (max-width: $col-lg - 1) {
    @content;
  }
}
@mixin xlarge {
  @media screen and (min-width: $col-lg) {
    @content;
  }
}
