
//
// VARIABLES
//

// Colors
$blue: #4183C4;
$bluakDark: #40434e;
$bluakMedium: #5c5f6d;
$borderLight: #e6e6e6;
$backgroundLight: #f8f8f8;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
@import url('https://fonts.googleapis.com/css?family=Roboto');
$roboto: 'Roboto', Helvetica, sans-serif;
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Desktop breakpoints
@mixin desktop {
  @media screen and (min-width: 640px) {
    @content;
  }
// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
