---
layout: home
permalink: /art
---
{% assign sorted_posts = site.posts | sort: 'title' %}
{% for post in sorted_posts %}
  {%- if post.item_image -%}
  <magic-item id="{{ post.item_id }}" class="magic-item {{ post.item_rarity | slugify }} {{ post.category | slugify }}{% if post.item_attunement %} attunement{% endif %}{% if post.item_curse %} cursed{% endif %}{% if post.item_image %} image{% endif %}">
    <item-title>
      <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
    </item-title>
    <item-image><a href="{{ site.baseurl }}{{ post.url }}"><img src="{{ site.url }}{{ post.item_image }}" /></a></item-image>
    <item-description>{{ post.image_artist }}</item-description>
  </magic-item>
  {%- endif -%}
{% endfor %}
