---
layout: null
title: Items
permalink: /items/
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }}</title>
    {% include meta.html %}
    {% include analytics.html %}
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/styles.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
  </head>
  <body>
    {% include navigation.html %}
    <a id="TippyTop"></a>
    <div class="width-wrapper">
      <div id="main-wrapper">
        <section id="main" role="main">
          <div class="page">
            {% assign sorted_posts = site.posts | sort: 'title' %}
            <input type="search" class="search" placeholder="Search..." data-column="all" />
            <select class="search" data-column="1">
              {%- for cat in site.categories | sort -%}
                <option value="{{cat}}">{{cat}}</option>
              {%- endfor -%}
            </select>
            <select class="search" data-column="3">
              {%- assign rarities_names = "Mediocre, Common, Uncommon, Rare, Very Rare, Legendary" | split: ", " -%}
              {%- for rarity in rarities_names -%}
                <option value="{{rarity}}">{{rarity}}</option>
              {%- endfor -%}
            </select>
            <input type="button" class="reset" value="Reset Search" />
            <hr />
            <table id="item_table" class="tablesorter">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Type</th>
                  <th>Sub-Types</th>
                  <th>Rarity</th>
                  <th>Attunement</th>
                </tr>
              </thead>
              <tbody>
                {%- for post in sorted_posts -%}
                  <tr>
                    <td>{{post.title}}</td>
                    <td>{{post.category}}</td>
                    <td>{% for subcat in post.item_subtypes | sort %}{{subcat}}{% unless forloop.last %}, {% endunless %}{% endfor %}</td>
                    <td>{{post.item_rarity}}</td>
                    <td>{% if post.item_attunement %}Yes{% endif %}</td>
                  </tr>
                {%- endfor -%}
              </tbody>
            </table>
          </div>
        </section>
      </div>
    </div>
    <div id="navigation-fixed">
      <a id="return-to-top" href="#TippyTop">
        <img alt="white chevron" src="{{ site.baseurl }}/images/icons/chevron-up-white.svg" />
      </a>
    </div>
    <div>
      <script src="{{ site.baseurl }}/js/scripts.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.29.0/js/jquery.tablesorter.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.29.0/js/widgets/widget-filter.min.js"></script>
      <script>
        $.tablesorter.addParser({
          // set a unique id
          id: 'rarity',
          is: function(s) { return false; },
          format: function(s) {
            // format your data for normalization
            return s.toLowerCase().replace(/artifact/,7).replace(/legendary/,6).replace(/very rare/,5).replace(/rare/,4).replace(/uncommon/,3).replace(/common/,2).replace(/mediocre/,1);
          },
          type: 'numeric'
        });

        var $table = $("#item_table").tablesorter({
          theme: 'default',
          widthFixed: false,
          sortReset: true,
          widgets: ['zebra', 'stickyHeaders', 'filter'],
          widgetOptions: {
            filter_reset: '.reset',
            filter_columnFilters: false,
            filter_defaultFilter: { 0 : '~{query}' },
          },
          headers: {
            3: { sorter: 'rarity' },
            4: { empty: 'zero' }
           }
        });
        $.tablesorter.filter.bindSearch( $table, $('.search') );
      </script>
      {% include inline-scripts.html %}
    </div>
  </body>
</html>
