---
layout: page
title: Rarities
---
{% assign rarities = site.posts | group_by: 'item_rarity' %}
{% assign rarities_names = "Mediocre, Common, Uncommon, Rare, Very Rare, Legendary" | split: ", " %}

<h1>{{ page.title }}</h1>
<item-tags>
  {%- for rarity_name in rarities_names -%}
    {%- for rarity in rarities -%}
      {% if rarity.name == rarity_name %}
        <item-tag><a href="#{{ rarity.name | slugify }}">{{rarity.name}} <span>|</span> {{rarity.items.size}}</a></item-tag>
      {% endif %}
    {%- endfor -%}
  {%- endfor -%}
</item-tags>
<hr />
<div id="tags-list">
 {%- for rarity_name in rarities_names -%}
    {%- for rarity in rarities -%}
      {% if rarity.name == rarity_name %}
      <h2 id="{{ rarity.name | slugify }}">{{ rarity.name }}</h2>
      <ul>
        {%- assign items = rarity.items | sort 'title' -%}
        {% for post in items -%}
          {% include tag-result.html %}
        {%- endfor %}
      </ul>
      {% endif %}
    {%- endfor -%}
  {%- endfor -%}
</div>
