---
layout: page
title: Rarities
---
{% assign rarities = site.posts | group_by: 'item_rarity' %}

<h1>{{ page.title }}</h1>
<div id="tags-wrapper">
	<ul id="tags">
		{% for rarity in rarities %}<li class="tag"><a href="#{{ rarity.name | slugify }}">{{ rarity.name }} ({{rarity.items.size}})</a></li>{% endfor %}
	</ul>
</div>
<div id="tags-list">
{% for rarity in rarities %}
	<h2 id="{{ rarity.name | slugify }}">{{ rarity.name }}</h2>
	<ul>
    {%- assign items = rarity.items | sort 'title' -%}
    {% for post in items %}
        <li>
					<a href="{{ post.url }}">
						<h4>{{ post.title }}</h4>
						<p>{{ post.category }}, {{ post.item_rarity }} {% if post.item_attunement -%} (requires attunement{% if page.item_requirement != null %} {{ page.item_requirement }}{% endif %}){%- endif %}</p>
					</a>
				</li>
    {% endfor %}
	</ul>
{% endfor %}
</div>
