---
layout: page
title: Subtypes
---
{% assign cat_names = "" | split: "|"   %}
{% for cat in site.categories %}
  {%- assign cat_names = cat_names | push: cat.first -%}
{% endfor %}
{%- assign cat_names = cat_names | sort -%}

<h1>{{ page.title }}</h1>
<item-tags>
  {%- for cat in cat_names -%}
  <item-tag><a href="#{{ cat | slugify }}"><img alt="tag" src="/images/icons/tag-solid.svg" />{{cat}} <span>|</span> {{ site.categories[cat].size }}</a></item-tag>
  {%- endfor -%}
</item-tags>
<hr />
<div id="tags-list">
  {%- for cat in cat_names -%}
    {% assign subcats = "" | split: "|"   %}
    {% for post in site.categories[cat] | sort: 'title' %}
      {% for subcat in post.item_subtypes %}
        {%- assign subcats = subcats | push: subcat -%}
      {% endfor %}
    {% endfor %}
    {% assign subcat_names = "" | split: "|"  %}
    {% for subcat in subcats %}
      {% unless subcats contains subcat %}{%- assign subcat_names = subcat_names | push: subcat -%}{% endunless %}
    {% endfor %}
    {% assign subcat_names = subcat_names | sort  %}
    <h2 id="{{ cat | slugify }}">{{ cat }}</h2>
    <hr />
    {% for subcat in subcat_names %}
      <h3 id="{{ subcat | slugify }}">{{ subcat }}</h3>
      {% for post in site.categories[cat] | sort: 'title' %}
        {%- if post.item_subtypes contains subcat -%}
          {% include tag-result.html %}
        {%- endif -%}
      {% endfor %}
    {% endfor %}
  {%- endfor -%}
</div>
