---
layout: page
title: Types
---
{% assign cat_names = "" | split: "|"  %}
{% for posts_by_cat in site.categories %}
  {%- assign cat_names = cat_names | push: posts_by_cat.first -%}
{% endfor %}
{% assign cat_names = cat_names | sort %}
<h1>Types</h1>
<div id="tags-wrapper">
	<ul id="tags">
		{% for cat in cat_names %}<li class="tag"><a href="#{{ cat | slugify }}">{{ cat }}</a></li>{% endfor %}
	</ul>
</div>
<div id="tags-list">
{% for cat in cat_names %}
	<h2 id="{{ cat | slugify }}">{{ cat }}</h2>
	<ul>
		{% for post in site.categories[cat] | sort: 'title' %}
        <li>
					<a href="{{ post.url }}">
						<h4>{{ post.title }}</h4>
						<p>{{ post.category }}, {{ post.item_rarity }} {% if post.item_attunement -%} (requires attunement {{ post.item_requirement }}){%- endif %}</p>
					</a>
				</li>
    {% endfor %}
	</ul>
{% endfor %}
</div>
