<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }}</title>

    {% include meta.html %}
    {% include analytics.html %}
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/styles.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
  </head>

  <body>
    {% include navigation.html %}
    <a id="TippyTop"></a>
    <div id="main" role="main">
        {% if page.search %}
          {% include search-form.html %}
        {% endif %}
        {{ content }}
    </div>
    <div>
      <script src="{{ site.baseurl }}/js/scripts.js"></script>
      <script>
        $(document).ready(function(){
          //if a link starts with "#" make it animate to that position and prevent adding it to the url
          $('a[href^="#"]').on('click',function (e) {
              e.preventDefault();
              var $target = $(this.hash);

              $('html, body').stop().animate({
                  'scrollTop': $target.offset().top
              }, 500, 'swing');
              });
          });
      </script>

      {%- if page.search -%}
        <script defer src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js"></script>
        {% include search-logic.html %}
      {%- endif -%}
    </div>
  </body>
</html>
