<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }}</title>

    {% include meta.html %}
    {% include analytics.html %}
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/styles.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
  </head>

  <body>
    {% include navigation.html %}
    <a id="TippyTop"></a>
    <div id="main" role="main">
        {% if page.search %}
          {% include search-form.html %}
        {% endif %}
        {{ content }}

        <a id="navigation-wrapper" href="#TippyTop">
          <div id="return-to-top">
            <img src="{{site.baseurl}}/images/icons/chevron-up-white.svg" />
          </div>
        </a>
    </div>
    <div>
      <script src="{{ site.baseurl }}/js/scripts.js"></script>
      <script>
        $(document).ready(function(){
          //if a link starts with "#" make it animate to that position and prevent adding it to the url
          $('a[href^="#"]').on('click', function (e) {
              e.preventDefault();
              if (this.hash != ""){ //watch for empty hashes
                var $target = $(this.hash);
                var top = $target.offset().top - 50
                if (top < 0)
                  top += 50;

                $('html, body').stop().animate({
                    'scrollTop': top
                }, 500, 'swing');
              }
            });

            var timer;
            $(window).on("scroll resize", function () {
              clearInterval(timer);
              timer = setInterval(checkContextButton, 150);
              checkMobileMenu();
            });

            function checkContextButton(){
              if ($(window).scrollTop() >= 100) {
                // if ($(window).scrollTop() + $(window).height() > $(document).height() - 150) { //if its close to the bottom
                //   $('#return-to-top').stop(true, false).fadeOut(200); }
                // else {
                  $('#return-to-top').stop(true, false).fadeIn(350);
                // }
              } else { $('#return-to-top').stop(true, false).fadeOut(250); }
            }

            var scrollPosition = 0;
            var currentPosition = 0;
            var difference = 0;
            var down = true;
            /*if the user is scrolling down hide the mobile menu. Scrolling up, bring back the menu*/
            function checkMobileMenu(){
              currentPosition = $(window).scrollTop();
              if ($(window).width() < 768){ /* mobile size */
                if ($(window).scrollTop() >= 150) {
                  if (currentPosition > scrollPosition){ /*scrolling down*/
                    if (down){
                      $('nav.navbar').stop(true, false).slideUp(200);
                      difference = 0;
                      down = false;
                    }
                  }
                  else { /*scrolling up*/
                    difference += scrollPosition - currentPosition; /*difference is the change between the last positions*/
                    if (difference > 50 && !down){ /*if the difference is positive the screen is going up. If its more than 50 show the menu*/
                      $('nav.navbar').stop(true, false).slideDown(200);
                      down = true;
                    }
                  }
                }
                else if (!down) {
                  $('nav.navbar').slideDown(500);
                  down = true;
                }
              }
              else { /* desktop size */
                $('nav.navbar').removeAttr("style");
                down = true;
              }


              scrollPosition = currentPosition;
            }
          });
      </script>
      {%- if page.search -%}
        <script defer src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js"></script>
        {% include search-logic.html %}
      {%- endif -%}
    </div>
  </body>
</html>
