<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }}</title>

    {% include meta.html %}
    {% include analytics.html %}
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/styles.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
  </head>
  <body>
    {% include navigation.html %}
    <a id="TippyTop"></a>
    <div class="width-wrapper">
      <div id="main-wrapper">
        <section id="main" role="main">
            {{ content }}
        </section>
      </div>
      <section id="sidebar">
        {% unless page.search %}
          {% include search-form.html %}
        {% endunless %}
      </section>

      <div id="navigation-fixed">
        <a id="return-to-top" href="#TippyTop">
          <img alt="white chevron" src="{{site.baseurl}}/images/icons/chevron-up-white.svg" />
        </a>
      </div>
    </div>
    <div>
      {% include inline-scripts.html %}
    </div>
  </body>
</html>
