---
layout: default
---

<a id="TippyTop"></a>
<div class="width-wrapper">
  <div id="main-wrapper">
    <div id="grid-sizes">
      <!-- hidden div to create children in. Small hack to determine sizes without affecting display. -->
    </div>
    <section id="main" role="main">
        {{ content }}
    </section>
    <section id="search-results">
    </section>
  </div>

  <div id="navigation-fixed">
    <a id="return-to-top" href="#TippyTop">
      <img alt="white chevron" src="{{ site.baseurl }}/images/icons/chevron-up.svg" />
    </a>
  </div>
</div>
