---
layout: default
---

<a id="TippyTop"></a>
<div class="width-wrapper">
  <div id="main-wrapper">
    <div id="grid-sizes"></div> <!-- hidden div to create children in. Small hack to determine sizes without affecting display. -->
    <section id="main" role="main">
        {{ content }}
    </section>
  </div>
  <!-- <section id="sidebar">
    {% unless page.nosearch %}
      {% include search-form.html %}
    {% endunless -%}
    {% if page.is_post %}
      {% include post-sidebar.html %}
    {%- else -%}
      {% include sidebar.html %}
    {%- endif %}
  </section> -->

  <div id="navigation-fixed">
    <a id="return-to-top" href="#TippyTop">
      <img alt="white chevron" src="{{ site.baseurl }}/images/icons/chevron-up.svg" />
    </a>
  </div>
</div>
<div>
  <script src="{{ site.baseurl }}/js/scripts.js"></script>
  <script>
    // masonry and element sizing

    var heights = ["","tall", "taller", "tallest"];
    heights.forEach(function (e, i) {
      $("#grid-sizes").append($("<magic-item class='" + heights[i]+"'><item-description></item-description></magic-item>"))
    });
    var sizes = $("#grid-sizes item-description");

    function setItemHeight(ele) {
      var description = $(ele).find("item-description")[0];
      var heightCount = 0;
      while (heightCount < heights.length && description.scrollHeight > sizes[heightCount].scrollHeight + 15) {
        heightCount++;
      }
      heightCount = Math.min(heightCount, heights.length - 1);

      $(ele).addClass(heights[heightCount]);
      if (description.scrollHeight > description.clientHeight)
        $(ele).addClass("show-more");
    }

    $(document).ready(function () {
      $("#main magic-item").each(function(){setItemHeight($(this))});

      var $grid = $('section#main').masonry({
        columnWidth: 'magic-item',
        itemSelector: 'magic-item',
        fitWidth: true,
        horizontalOrder: true,
        gutter: 15,
        stagger: 0,
        absolute: false
      });

      var masonry = $grid.data('masonry');
      $grid.infiniteScroll({
        path: function() { return '/page/' + (this.pageIndex + 1);},
        append: 'magic-item',
        scrollThreshold: 1200,
        outlayer: masonry
      });

      $grid.on('append.infiniteScroll', function( event, response, path, items ) {
        $(items).each(function(){setItemHeight($(this))});
        $grid.masonry('layout');
      });
    });
  </script>
  {% include inline-scripts.html %}
</div>
