---
layout: default
---

<a id="TippyTop"></a>
<div class="width-wrapper">
  <div id="main-wrapper">
    <div id="grid-sizes">
      <!-- hidden div to create children in. Small hack to determine sizes without affecting display. -->
    </div>
    <section id="loading-wrapper">
      <div class="loading-spacer"></div>
			<div class="loading-spacer">
        <div id="loading">
          <img class="top" src="/images/loading/loading_T.png" />
					<img class="right" src="/images/loading/loading_R.png" />
					<img class="bottom" src="/images/loading/loading_B.png" />
					<img class="left" src="/images/loading/loading_L.png" />
					<img class="middle" src="/images/loading/loading_M.png" />
				</div>
			</div>
			<div class="loading-spacer"></div>
    </section>
    <section id="main" role="main">
        {{ content }}
    </section>
    <section id="search-results">
    </section>
  </div>

  <div id="navigation-fixed">
    <a id="return-to-top" href="#TippyTop">
      <img alt="white chevron" src="{{ site.baseurl }}/images/icons/chevron-up.svg" />
    </a>
  </div>
</div>
<div>
  <script src="{{ site.baseurl }}/js/scripts.js"></script>
  <script>
    // masonry and element sizing

    var heights = ["","tall", "taller", "tallest"];
    heights.forEach(function (e, i) {
      $("#grid-sizes").append($("<magic-item class='" + heights[i]+"'><item-description></item-description></magic-item>"))
    });
    var sizes = $("#grid-sizes item-description");

    function setItemHeight(ele) {
      var description = $(ele).find("item-description")[0];
      var heightCount = 0;
      while (heightCount < heights.length && description.scrollHeight > sizes[heightCount].scrollHeight + 15) {
        heightCount++;
      }

      $(ele).addClass(heights[heightCount]);
      if (description.scrollHeight > description.clientHeight)
        $(ele).addClass("show-more");
    }

    $(document).ready(function () {
      $("#main magic-item").each(function(){setItemHeight($(this))});

      var $grid = $('section#main').masonry({
        columnWidth: 'magic-item',
        itemSelector: 'magic-item',
        fitWidth: true,
        horizontalOrder: true,
        gutter: 15,
        stagger: 0
      });

      var masonry = $grid.data('masonry');
      $grid.infiniteScroll({
        path: function() { return '/page/' + ({{paginator.page}} + this.pageIndex);},
        append: 'magic-item',
        scrollThreshold: 2000,
        outlayer: masonry
      });

      $grid.on('append.infiniteScroll', function( event, response, path, items ) {
        $(items).each(function(){setItemHeight($(this))});
        $grid.masonry('layout');
      });

      $("#search-show").on("click", function() {
        $("#search-form").css("width", "100%");
      });

      $("#main-nav").width($("#main").width());
    });

    $(window).on("resize", function(){
        $("#main-nav").width($("#main").width());
    });
  </script>
  {% include inline-scripts.html %}
  {% include search-logic.html %}
</div>
