---
layout: default
---
<magic-item>
  <item-name>{{ page.title }}</item-name>
  <item-tagline>{{ page.category | downcase }}, {{ page.item_rarity | downcase }} {% if page.item_attunement %}(requires attunement {% if page.item_requirement != "" %}{{ page.item_requirement }}{% endif %}){% endif %}</item-tagline>
  <item-description>
    {{ content }}
  </item-description>
</magic-item>

<item-details>
  <item-type>Type: <a href="/tags/types/#{{ page.category | slugify }}">{{ page.category }}</a></item-type>
  {% assign subtypes_count = page.subtypes | size %}
  {%- if subtypes_count > 0 -%}
  <item-subtypes>
    Subtypes:
    {%- for subtype in page.subtypes -%}
    <item-subtype>{{subtype}}</item-subtype>
    {%- endfor -%}
  </item-subtypes>
  {%- endif -%}
  <item-rarity>Rarity: <a href="/tags/rarities/#{{ page.item_rarity | slugify }}">{{ page.item_rarity }}</a></item-rarity>
  <item-attunement>Attunement: {% if page.item_attunement -%}{% if page.item_requirement %}requires attunement {{ page.item_requirement }}{% else %}True{%- endif %}{% else %}False{%- endif %}</item-attunement>
  <item-classes>
    Suggested Classes:
    {%- for tag in page.tags -%}
    <item-tag><a href="/tags/#{{ tag | slugify }}">{{tag}}</a></item-tag>
    {%- endfor -%}
  </item-classes>
  <item-tags>
    Item Tags:
    {%- for tag in page.tags -%}
    <item-tag><a href="/tags/#{{ tag | slugify }}">{{tag}}</a></item-tag>
    {%- endfor -%}
  </item-tags>
</item-details>

<nav aria-label="...">
  <ul class="pager">
    {% if page.previous.url %}
      <li class="previous"><a href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a></li>
    {% else %}
      <li class="previous disabled"><a>&laquo; No older posts</a></li>
    {% endif %}
    {% if page.next.url %}
      <li class="next"><a href="{{page.next.url}}">{{page.next.title}} &raquo;</a></li>
    {% else %}
      <li class="next disabled"><a>No newer posts &raquo;</a></li>
    {% endif %}
  </ul>
</nav>
