---
layout: default
---
<a id="TippyTop"></a>

<div class="width-wrapper">
  <div id="main-wrapper">
    <section id="grid-sizes"> <!-- hidden div to create children in. Small hack to determine sizes without affecting display. --> </section>
    <section id="item-wrapper" data-random="false">
      <div id="item-width" class="{% if page.item_image %}image{% endif %}">
        {% include magic-item.html page_bool="true" %}
        {% include magic-item_details.html page_bool="true" %}
      </div>
      <div id="item-menu">
        <a id="btnCopy-item" href="/copy" title="Copy Text" ga-on="click" ga-event-category="Item" ga-event-action="copy">
          <img src="/images/icons/copy.svg" />
        </a>
        <a id="btnCopy-link" href="/copy-link" title="Copy Link" ga-on="click" ga-event-category="Link" ga-event-action="copy">
          <img src="/images/icons/link.svg" />
        </a>
        <a id="btnRandom-item" href="/items/random/" title="Random Item" ga-on="click" ga-event-category="Random" ga-event-action="click">
          <img src="/images/icons/random.svg" />
        </a>
      </div>
      <div id="related">
        {%- assign maxRelated = 12 -%}
        {%- assign minCommonTags =  2 -%}
        {%- assign maxRelatedCounter = 0 -%}

        {%- for post in site.posts -%}
          {%- assign sameTagCount = 0 -%}

          {%- for tag in post.tags -%}
            {%- if post.url != page.url -%}
              {%- if page.tags contains tag -%}
                {%- assign sameTagCount = sameTagCount | plus: 1 -%}
              {%- endif -%}
            {%- endif -%}
          {%- endfor -%}

          {%- if sameTagCount >= minCommonTags -%}
            {%- include magic-item.html related=sameTagCount -%}

            {%- assign maxRelatedCounter = maxRelatedCounter | plus: 1 -%}
            {%- if maxRelatedCounter >= maxRelated -%}
              {%- break -%}
            {%- endif -%}
          {%- endif -%}
        {%- endfor -%}
      </div>
    </section>
    <div id="pretty_controls">
      <div class="setting_item advanced">
        <div class="setting_desc">
          <h3>Currency</h3>
        </div>
        <div class="setting_prop">
          <label class="switch">
            <input type="checkbox" id="prettyCurrency" checked>
            <div class="switch_wrapper">
              <span class="off">OFF</span><span class="on">ON</span>
              <div class="toggle_wrapper">
                <div class="toggle"></div>
              </div>
            </div>
          </label>
        </div>
      </div>
      <div class="setting_item advanced">
        <div class="setting_desc">
          <h3>School</h3>
        </div>
        <div class="setting_prop">
          <label class="switch">
            <input type="checkbox" id="prettySchool" checked>
            <div class="switch_wrapper">
              <span class="off">OFF</span><span class="on">ON</span>
              <div class="toggle_wrapper">
                <div class="toggle"></div>
              </div>
            </div>
          </label>
        </div>
      </div>
      <div class="setting_item">
        <div class="setting_desc">
          <h3>Curse</h3>
        </div>
        <div class="setting_prop">
          <label class="switch">
            <input type="checkbox" id="prettyCurse" checked>
            <div class="switch_wrapper">
              <span class="off">OFF</span><span class="on">ON</span>
              <div class="toggle_wrapper">
                <div class="toggle"></div>
              </div>
            </div>
          </label>
        </div>
      </div>
      <button id="btnPrettyDownload">Download Image</button>
      <button id="btnPrettyReturn" onclick="location.reload()">Return to Site</button>
    </div>
    <section id="main" data-scrollable="false"></section>
    <section id="search-results"></section>
    <section id="pagination"></section>
  </div>
</div>
<script>
  let magicheader = document.querySelector("#item-width > magic-item item-head");
  let magicimage  = document.querySelector("#item-width > magic-item item-description img");
  if (magicimage) {
    magicheader.insertAdjacentHTML('afterEnd', magicimage.outerHTML);
  }
</script>
